
/* Variables f0c94a 
-----------------------------------------------------------------*/

:root {
    --maincolor: #7c3aed;
}

$body_color: #000;
$main_color: #7c3aed;
$sub_bg: #fff;
$main_bg: #e6eaee;
$mobile-xs-screen: 480px;
$tablet-sm-screen: 768px;
$desk-md-screen: 992px;
$desk-lg-screen: 1400px;