
/* Variables f0c94a 
-----------------------------------------------------------------*/

:root {
    --maincolor: #7c3aed;
}

$body_color: #fff;
$main_color: #7c3aed;
$sub_bg: #232323;
$main_bg: #1d1d1d;
$mobile-xs-screen: 480px;
$tablet-sm-screen: 768px;
$desk-md-screen: 992px;
$desk-lg-screen: 1400px;